* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Style for webkit scroll bars */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(120deg, #121212, #1e3c72);
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
header {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  color: #ff5722;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2em;
  color: #d9d9d9;
}
.form-container {
  background: #212121;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
}
fieldset {
  border: none;
  margin-bottom: 15px;
}
.legend {
  font-size: 1.5em;
  font-weight: 700;
  color: #03a9f4;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background: #121212;
  color: #f0f0f0;
  font-size: 1em;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #03a9f4;
  outline: none;
}
form select[multiple] {
  height: auto;
}

.member-input {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #252525;
}

.member-input h3 {
  margin-top: 0;
  color: #20b7ee;
}
label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

form .btn {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

form .btn.submit {
  background: #20b7ee;
  color: #1e1e1e;
}

form .btn.clear {
  background: #f44336;
  color: #fff;
}

form .btn:hover {
  opacity: 0.9;
}
#custom-language-container {
  display: none;
}
/* Footer */
.footer {
  margin-top: auto;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9em;
  color: #d9d9d9;
}

.footer p {
  margin: 0;
}

.footer p span {
  color: #ff5722;
}
