/* Style for webkit scroll bars */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 0px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}
body {
  font-family: "Courier New", Courier, monospace;
  color: #d4d4d4;
}
html {
  scroll-behavior: smooth;
}
.scroll-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.scroll-animate.show-content {
  opacity: 1;
  transform: translateY(0);
}
.header-section {
  text-align: center;
  padding: 10px 20px;
}

.main-title {
  font-size: 3rem;
  color: gray;
  animation: slide-in 1.5s ease-out;
}
.highlight {
  color: #21b807;
  font-weight: bold;
}
.highlight1 {
  color: #0049af;
  font-weight: bold;
}

.container {
  position: relative;
  top: 100svh;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(20, 27, 31);
  font-family: "roboto", "Roboto Mono", monospace;
  color: #dcdcdc;

  display: flex;
  justify-content: start;
  gap: 20px;
}

#event-details h1 {
  font-size: 2.5rem;
}

.navigation-aside {
  margin-top: 100px;
  margin-bottom: 0px;
  min-width: 285px;
  height: fit-content;
  max-height: calc(100vh - 20px);
  position: sticky;
  top: 20px;
  overflow-y: auto;
  background: linear-gradient(145deg, #1e1e1e, #252525);
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: #dcdcdc;
  font-family: "Fira Code", monospace;
  padding: 15px;
}

.terminal-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  background: #2d2d2d;
  border-radius: 8px 8px 0 0;
  margin-bottom: 15px;
}

.terminal-bar .buttons {
  display: flex;
  gap: 8px;
}

.terminal-bar .buttons span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ff5f56;
}

.terminal-bar .buttons span:nth-child(2) {
  background: #ffbd2e;
}

.terminal-bar .buttons span:nth-child(3) {
  background: #27c93f;
}

.navigation-aside nav h2 {
  font-size: 1.2rem;
  color: #56b6c2;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.navigation-aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-aside ul li {
  margin: 10px 0;
}

.navigation-aside ul li {
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: #abb2bf;
  cursor: pointer;
}

.navigation-aside ul li:hover {
  background-color: #2d2d2d;
  color: #20b7ee;
  box-shadow: 0 0 8px #20b7ee;
}

.navigation-aside ul li:hover::before {
  content: "<";
  margin-right: 5px;
  color: #d19a66;
}

.navigation-aside ul li:hover::after {
  content: ">";
  margin-left: 5px;
  color: #d19a66;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .navigation-aside {
    display: none;
    margin: 0;
    width: 100%;
    position: relative;
    max-height: none;
  }
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #20b7ee;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.syllabus-container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.syllabus-container h2 {
  font-size: 2rem;
  color: #20b7ee;
  margin-bottom: 20px;
}

.syllabus-container h3 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #847c7c;
  border-left: 5px solid #20b7ee;
  padding-left: 10px;
}

.syllabus-container ul {
  list-style-type: disc;
  margin: 10px 0 20px 20px;
}

.syllabus-container ul ul {
  list-style-type: circle;
  margin-left: 20px;
}

.syllabus-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.syllabus-container p {
  margin: 10px 0;
}
.syllabus-section ul li {
  margin: 5px 0;
}
.syllabus-container strong {
  color: #20b7ee;
}
.question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.question-container a {
  color: #27c93f;
  background-color: #0049af;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s ease;
  margin: 10px 0;
}
.question-container a:hover {
  color: #ffffff;
  transform: translateY(-10px);
}
/* Remaining Days */
.countdown-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  background: linear-gradient(135deg, #1a1a1a, #3333cc);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.countdown-wrapper {
  display: flex;
  gap: 20px;
  text-align: center;
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 100px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.time-block:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.number {
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none;
  animation: pulse 1s infinite;
}

.label {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5px;
  text-transform: uppercase;
  pointer-events: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    color: #fff;
  }

  50% {
    transform: scale(1.1);
    color: #ffcc00;
  }
}

@media (max-width: 768px) {
  .time-block {
    width: 80px;
    padding: 15px;
  }

  .number {
    font-size: 2.5rem;
  }

  .label {
    font-size: 0.9rem;
  }

  .countdown-wrapper {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .time-block {
    width: 70px;
    padding: 10px;
  }

  .number {
    font-size: 2rem;
  }

  .label {
    font-size: 0.8rem;
  }

  .countdown-wrapper {
    gap: 10px;
  }
}
#prizes {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(145deg, #1e1e1e, #252525);
  color: #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  margin: 80px 0;
}

#prizes h2 {
  font-size: 2rem;
  border: none;
  color: #20b7ee;
  font-family: "Fira Code", monospace;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

#prizes h2::after {
  content: "";
  width: 150%;
  height: 2px;
  background: #20b7ee;
  position: absolute;
  bottom: -5px;
  left: 60%;
  transform: translateX(-50%);
}

.prize-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Individual Card Styling */
.prize-cards .card {
  color: #abb2bf;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #333;
  cursor: pointer;
}
.card:nth-child(1) {
  background: url("../images/first.jpg");
  background-size: cover;
}
.card:nth-child(2) {
  background: url("../images/second.jpg");
  background-size: cover;
}
.card:nth-child(3) {
  background: url("../images/third.jpg");
  background-size: cover;
}
.prize-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 25px rgba(32, 183, 238, 0.5);
}
.prize-cards .card:hover h3,
.prize-cards .card:hover p {
  opacity: 0;
}

/* Card Heading */
.prize-cards .card h3 {
  font-size: 1.5rem;
  font-family: "Fira Code", monospace;
  color: #007bff;
  margin-bottom: 15px;
  transition: 0.5s ease;
}

.prize-cards .card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background: #20b7ee;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(32, 183, 238, 0.4);
  transition: 0.5s ease;
}

@media (max-width: 768px) {
  .prize-cards {
    flex-direction: column;
    align-items: center;
  }

  .prize-cards .card {
    width: 90%;
    margin-bottom: 20px;
  }
  #remaining-days {
    font-size: 1.5rem;
  }
}

.question {
  margin-bottom: 15px;
}
.register {
  padding: 10px;
  background-color: #58a6ff;
  color: #fff;
  margin: 10px auto;
  display: inline-block;
  border-radius: 10px;
  animation: pulse 1s infinite;
}

#demo-questions a {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: #007bff;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid #0049af;
  box-shadow: 0px 0px 10px #0049af;
}
#query {
  margin-bottom: 50px;
}

/* video container */
.video-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video {
  width: max(80%, 500px);
  height: 400px;
  margin: 10px auto;
  border-radius: 20px;
}
/* footer */
.contact-section {
  max-width: 900px;
  width: 100%;
  margin: 50px auto;
  padding: 30px;
  background: #161b22;
  border-radius: 15px;
  box-shadow: 0 0 8px #0049af;
}

.contact-title {
  text-align: center;
  font-size: 2rem;
  color: #20b7ee;
  margin-bottom: 10px;
}

.contact-description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 30px;
  color: #c9d1d9;
}

.contact-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.contact-card {
  background: #1f262d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #58a6ff;
  width: 45%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #007bff;
}

.card-header {
  text-align: center;
  margin-bottom: 15px;
}

.card-name {
  font-size: 1.5rem;
  color: #007bff;
}

.card-post {
  font-size: 1rem;
  color: #6f8c87;
}

.card-body {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  font-size: 1rem;
  color: #c9d1d9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0049af;
}
.card-number {
  margin-bottom: 15px;
}
.card-number .social-icon {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .contact-cards {
    flex-direction: column;
    gap: 15px;
  }

  .contact-card {
    width: 100%;
  }
  .contact-title {
    font-size: 1.5rem;
  }
}
/* Contact end */
@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
  }
  .video {
    width: 100%;
    height: 250px;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.footer {
  background-color: #282c34;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: -100svh;
  font-family: "roboto", "Roboto Mono", monospace;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10%;
}

.footer-about,
.footer-links,
.footer-social {
  flex: 1;
  min-width: 200px;
}
.footer-about {
  flex: 3;
}
.footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #20b7ee;
  text-align: center;
}

.footer p,
.footer ul,
.footer li {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer a {
  color: #20b7ee;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social .social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-social .social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
}
.footer-social .social-icons img:hover {
  transform: scale(1.25) translateY(-5px);
  filter: hue-rotate(180deg);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}

@media (max-width: 600px) {
  .syllabus-container {
    padding: 0;
  }
  .syllabus-section {
    padding: 5px;
  }
  .syllabus-container h2 {
    font-size: 1.4rem;
  }

  .prize-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .card {
    flex: 1;
    padding: 0;
    background: #1e1e1e;
    border-radius: 8px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container > div {
    margin-bottom: 20px;
  }
}

.highlight-nav {
  border: 1px solid rgb(76, 254, 6);
}
